@mixin animations {
  animation: dayUp 0.5s ease 1 forwards;
  @keyframes dayUp {
    from {
      position: relative;
      bottom: 0;
      background-color: #eee;
    }
    to {
      position: relative;
      bottom: 20px;
      background-color: pink;
    }
  }
}
