$daysFont: arial, helvetica, sans-serif;
$containerWidth: 722px;
$containerMargin: 40px auto;
$boxWidth:100px;
$boxHeight: 100px;
$boxMargin: 0.5px;

$days: (
  "low": 28,
  "next": 29,
  "mid": 30,
  "high": 31
);

$week: (
  "mon": "1px",
  "tue": "104px",
  "wed": "207px",
  "thu": "310px",
  "fri": "413px",
  "sat": "516px",
  "sun": "619px"
);
