@import "_variables";
@import "_animations";

body {
  margin: 0;
  font-family: $daysFont;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 722px;
  margin: 40px auto;
}

@each $val, $num in $days {
  @for $i from 1 through $num {
    .calendar-#{$num} div:nth-child(#{$i}) {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: 0.5px;
  
      background-color: #eee;
      border: 1px solid #000;
  
      &:hover {
        position: relative;
        bottom: 20px;
  
        cursor: pointer;
        @include animations;
      }
  
      &::after {
        content: "#{$i}";
        display: flex;
        justify-content: center;
        align-items: center;
  
        font-size: 30px;
      }
    }
  }
}

@each $dayOfWeek, $margin in $week {
  .calendar-#{$dayOfWeek} {
    div:first-child {
      margin-left: #{$margin};
    }
  }
}
