@import "variables";
@import "mixins";

body {
  margin: 0;
  font-family: $daysFont;
}

.calendar {
  @include flexRules;
  width: $containerWidth;
  margin: $containerMargin;
}

@each $val, $num in $days {
  @for $i from 1 through $num {
    .calendar-#{$num} div:nth-child(#{$i}) {
      @include flexRules;
      justify-content: center;
      width: $boxWidth;
      height: $boxHeight;
      margin: $boxMargin;
  
      background-color: #eee;
      border: 1px solid #000;
  
      &:hover {
        position: relative;
        bottom: 20px;
  
        cursor: pointer;
        @include animations;
      }
  
      &::after {
        content: "#{$i}";
        @include flexRules;
        justify-content: center;
        align-items: center;
  
        font-size: 30px;
      }
    }
  }
}

@each $dayOfWeek, $margin in $week {
  .calendar-#{$dayOfWeek} {
    div:first-child {
      margin-left: #{$margin};
    }
  }
}
